
//Модал колл и фидбэк
.modal {
    display: none;
    height: 676px;
    width: 320px;


    &__close {
        margin-top: 24px;
        margin-bottom: 32px;
        margin-left: 16px;
    }

    &__title {
        height: 32px;
        width: 288px;
        margin-left: 16px;
        margin-bottom: 24px;
        position: relative;
        //border: 1px solid black;

        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 40px;
            border-radius: 6px;
            top: -8px;
            left: -16px;
            background-color: #41F6D7;
        }
    }

    .form-group {

        .form-input {
            width: 288px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #EAEAEA;
            margin-left: 16px;
            margin-bottom: 16px;
            font-weight: 500;
            font-size: $font-size--button-and-modal-menu;
            padding: 12px 16px;

            &::placeholder {
                color:  #B5B6BC;
            }

            &__message {
                height: 118px;
                padding-bottom: 82px;
            }
        }
    }

    .form-agreement {
        font-weight: 500;
        font-size:  $font-size--main;
        margin-left: 16px;
        width: 288px;
        height: 64px;
        margin-bottom: 18px;
        color: $text-color--muted;
        line-height: 16px;

        .agreement-text {

            .agreement-wrapper {
                color: #FF3E79;
                display: inline;;
           }

        
        }
    }

    .submit-button {
        width: 136px;
        height: 32px;
        border-radius: 16px;
        background-color: #FF3E79;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        margin-left: 168px;
        position: relative;

        &::before {
            content: '';
                position: absolute;
                top: 4px;
                right: 9px;
                width: 27px;
                height: 24px;
                background: url('../img/dropdown-white.svg') no-repeat center;
        }

        .submit-text {
            margin-left: -15px;
        }
    }
}