
//Четвертая страница (Цены на услуги) МОБИЛЬНАЯ ВЕРСИЯ
.prices-for-services__tablet {
    display: none;
}
.prices-for-services__mobile {
    height: 548px;

    .prices-for-services__header {
        border-top: 1px solid $border-color--shadow;
        width: 100vw;
        height: 56px;
        padding: 16px;
        background-image: linear-gradient(to right, $background-color--main, $background-color--header);
    }

    .prices-for-services__h2 {
        font-size: $font-size--button-and-modal-menu;
        font-weight: 400;
        text-transform: uppercase;
        color: $text-color--muted;
        line-height: 24px;
    }

    .prices-for-services__slider {
        background-color: $background-color--main;
        height: 260px;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 12px;
            right: 0;
            width: 24px;
            height: 205px;
            background: linear-gradient(to right, transparent, $background-color--main);
            pointer-events: none;
            z-index: 1;
        }

        .swiper-wrapper {
            padding: 16px; 
            padding-left: 8px;
        }
            
        .swiper-slide {
            background-color: $background-color--header;
            width: 260px !important;
            height: 200px;
            border: 1px solid $border-color--frame-brands;
            border-radius: 6px;
            display: flex;
            position: relative;

           &::after {
                content: '';
                position: absolute;
                right: 16px;
                top: 155px;
                width: 119px;
                height: 32px;
                border-radius: 16px;
                background-color: #FF3E79; // только цвет фона
                z-index: -1;
           }
                // Добавляем псевдоэлемент для стрелки
            &::before {
                content: '';
                position: absolute;
                top: 166px;
                right: 32px;
                width: 7px;
                height: 10px;
                background: url('../img/dropdown-white.svg') no-repeat center;
            }
    
            .service-card {
            font-size: $font-size--main;

                .card__header {
                    border-bottom: 0px;
                    width: 210px;
                    height: 56px;
                    padding: 0;
                    margin: 16px;
                }

                .card__category {
                    font-weight: 400;
                    color: $text-color--muted;
                    margin-bottom: 4px;
                    font-size: $font-size--main;
                }

                .card__service {
                    font-weight: 400;
                    font-size: $font-size--main;
                }
                .card__price {
                    margin-bottom: 16px;
                }
                .card__price, .card__duration {
                    margin-left: 16px; 
                    width: 81px;
                    height: 38px;
            
             

                    .label {
                        color: $text-color--muted;
                        display: block;
                    }

                    .value {
                        font-weight: 400;
                        display: block;
                    }
                }

                .card__button {
                    width: 67px;
                    height: 24px;
                    font-weight: 700;
                    font-size: 12px;
                    margin-left: 137px;
                    transform: translateY(-90%);
                    color: #FFFFFF;
                }
            }
        }
           
        .swiper-pagination {
            width: 320px;
            height: 12px;
           margin-bottom: 10px;

            .swiper-pagination-bullet {
                width: 12px;        
                height: 12px;       
                background: $background-color--swiper-pagination-bullet; 
                opacity: 1;        
                margin: 0 6px !important;
                border-radius: 50%; 
            
                &-active {
                    background: $background-color--swiper-pagination-bullet-active;
                }
            }
        }
    }
}

.extra-info {
    background-color: $background-color--main;
    height: 232px;

    pre {
        display: block;
        font-family: $font-family;
        font-weight: 400;
        margin-left: 10px;
        font-size: $font-size--main;
    }
    
    .commercial-link {
        font-weight: 500;
        font-size: $font-size--button-and-modal-menu;
        position: relative;
        margin-left: 16px;

        &::before {
            content: '';
            position: absolute;
            right: 60px;
            top: 21px;
            width: 24px;
            height: 27.5px;
            background: url('../img/dropdown.svg') no-repeat center;
            background-size: 6px 11.45px;
        }
    }
}