
//Первая страница (Услуги и сервисы) 
.header {
    padding: 24px 16px;
    height: 88px;
    background-color: $background-color--header;
    border-bottom: 1px solid $border-color--shadow;



    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__logo {
            position: relative;
            bottom: 5.41px;
        }

        .btnClick-profile,
        .btnClick-repair,
        .btnClick-checkstatus {
            display: none;
        }
    }
}

.main {
    height: 498px;
    background-color: $background-color--main;
    padding-top: 24px;
    padding-bottom: 24px;

    .btn-submit-a-request, 
    .btn-repair-status {
        display: none;
    }

    &-heading {
        display: flex;
        width: 304px;
        height: 40px; 
        margin-bottom: 24px;
        font-size: $font-size--h1;

        &__text {
            margin-left: 12px;
        }
    }

    &-nav-mask {
        overflow-x:auto;
        -webkit-mask-image: linear-gradient(to right, black 85%, transparent);
        mask-image: linear-gradient(to right, black 85%, transparent);

        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

    &__slider {
        margin: 0 16px;
        height: 40px;
    }

    .swiper-slide {
        width: auto;
    }

    &__btn-devices-to-repair, 
    &__btn-add-services, 
    &__btn-prices-for-services,
    &__btn-address,
    &__btn-special-prices,
    &__btn-reviews {
        height: 40px;
        text-wrap: nowrap;
        color: $text-color--muted;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    &__btn-devices-to-repair {
        border: 2px solid $border-color--frame;
        border-radius: 6px;
        background-color: $background-color--header;
        padding-left: 16.54px;
        padding-right: 9.3px;
    }

    &__btn-add-services {
        padding-left: 16px;
        padding-right: 10px;
    }

    &__btn-prices-for-services {
        padding-left: 14.83px;
        padding-right: 2px;
    }

    &__btn-address {
        padding-left: 20px;
    }

    &__btn-special-prices {
        padding-left: 25.13px;
        padding-right: 2px;
    }

    &__btn-reviews {
        padding-left: 20px;
        padding-right: 16px;
    }

    &-hero-section {
        margin-top: 24px;

        &__tablet-version, 
        &__desktop-version {
            display: none;
        }

        pre {
            font-family: $font-family;
            font-size: $font-size--main;
            margin-left: 16px;
            }

        &__read-more-button {
            display: flex;
            justify-content: center;
            width: 132px;
            height: 24px;
            margin-left: 16px;
            margin-bottom: 16px;
        }

        &__read-more-text {
        margin-left: 8px;
        text-wrap: nowrap;
        font-weight: 500;
        }

        .main-hero-section__img-logo {
            position: absolute;
        }
        .main-hero-section__extra-info {
            display: none;
        }


    }
}
