$background-color--main: #F8F8F8;
$background-color--header: #FFFFFF;
$background-color--swiper-pagination-bullet: #DDDDDD;
$background-color--swiper-pagination-bullet-active: #B5B6BC;

$border-color--frame: #B8FFEC;
$border-color--frame-brands: #EAEAEA;
$border-color--shadow: #D9FFF5;
 
$text-color: #1B1C21;
$text-color--muted: #7E7E82;
 
$font-size--h1: 1.75rem;
$font-size--phone-number: 1.5rem;
$font-size--button-and-modal-menu: 1rem;
$font-size--main: 0.875rem;

 
$font-family: 'TT Lakes', Arial, sans-serif;
 
$screen-xs: 320px;    // Mobile (extra small)
$screen-sm: 360px;    // Mobile (small) 
$screen-md: 768px;    // Tablet (medium)
$screen-lg: 1024px;   // Desktop (large) 
$screen-xl: 1366px;   // Desktop (extra large)
$screen-xxl: 1440px;  // Desktop (extra extra large)